



body { 
  background-color: pink;
}



h1 {
  font-family: 'marion';
  text-align: center;
  font-size: 100px;
}



h2{
  font-size: 20px;
  font-family: Franklin Gothic Medium;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color:black;
  text-align: right;
  padding: 15px 125px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
}

li a:hover {
  background-color: pink;
}














@media only screen and (max-width: 768px) {


body {
  background-color: lightyellow;
}



h1 {
    
    font-family: 'marion';
    text-align: center;
    font-size: 100px;
}



h2{
    font-size: 15px;
    font-family: Franklin Gothic Medium;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:black;
    text-align: right;
    padding: 30px 25px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
  }
  
  li a:hover {
    background-color: lightyellow;
  }
}



