* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
  .vh-center {
    margin: auto auto;
    width: 80%;
  }
  
  .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .one {
    background: #de98e0;
  }
  .two {
    background: #a7157b;
  }
  .three {
    background: #b985b7;
  }
  .four {
    background: #f082dd;
  }

  .five {
    background: #f07484;
  }

  .six {
    background: #c0104a;
  }


  .seven {
    background: #d89de4;
  }


  .center {
    text-align: center;
  }
  

  h1 {
    font-size: 50px;
    font-family:'Courier New', Courier, monospace
    
  }

  h2 {
    font-size: 30px;
    font-family:'Courier New', Courier, monospace
  }