* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    position: relative;
  }
  

  .protagonist {
    padding: 100px;
    z-index: 1;
    position: sticky;
    top: 0;
    left: 300px;
    border-radius: 50%;
    filter: hue-rotate(0deg);
    transition: transform 2s;
  }
  .flip {
    transform: scaleX(-1);
  }
  
  main {
    z-index: -1;
  }
  
  .slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 500vw;
  }
  .wrapper section {
    width: 100vw;
  }
  .vh-center {
    margin: 120px auto;
    width: 50%;
    height: 90%;
  }
  .start {
    height: 100vh;
    width: 500vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .one {
    background: url('images/daisies.jpg');
  }

  .two {
    background: url('images/taurusconstellation.jpg');
  }

  .three {
    background: url('images/tuna.jpg');
  }

  .four {
    background-image: url('images/theleftovers.jpg');
  }

  .five {
    background:  url('images/miranddaisy.jpg');
  }

  .center {
    text-align: center;
  }