body {
  background-color: black;
}
header {

}

main {
  width: 80%;
  margin: auto;
}



.grid-4
{display: flex
flex-wrap: wrap;
color:lightpink;
}

.card h2 {
  margin: 0;
}
.card img {
  border-radius: 50%;
  margin-top: 20px;
}

.preview {
  display: inline-block;
  margin: 0 40px 0 0;
}





